<div class="container">
    <h2>Créer un Utilisateur:</h2>
    <form>
      <div class="input">
        <label>Login</label>
        <input [(ngModel)]="user.login" type="text" name="login" #login required>
      </div>
      <div class="input">
        <label>Password:</label>
        <input [(ngModel)]="user.password" type="password" name="password" #password required >
      </div>
      <div class="input">
        <label> Confirm the Password:</label>
        <input [(ngModel)]="confirmPassword" type="password" name="password2" #password2 required >
      </div>
      <div class="button-container">
        <button type="button" class="btn" (click)="addUser()">Ajouter User</button>
      </div>
    </form>
  </div>  