<h1>Orders</h1>

<table align="center">
    <tr>
        <th scope="col">Customer</th>
        <th scope="col">Restaurant</th>
        <th scope="col">Customer Address</th>
        <th scope="col">Restaurant Address</th>
        <th scope="col">Price</th>
        <th scope="col">Distance</th>
        <th scope="col">Coursier ID</th>
        <th scope="col">Modify</th>
        <th scope="col">Delete</th>

    </tr>
    <tr *ngFor="let order of orders" >
        <td >{{order.name_customer}}</td>
        <td >{{order.name_restaurant}}</td>
        <td >{{order.adress_customer}}</td>
        <td >{{order.adress_restaurant}}</td>
        <td >{{order.price}}</td>
        <td >{{order.distance}}</td>
        <td >{{order.coursier_id}}</td>
        <td >Modifier</td>
        <td >Delete</td>
    </tr>
</table>
