h1{
    color: black;
}
td,
th {
    border: 1px solid black;
    padding: 10px;
}

td {
    text-align: center;
    background-color: grey;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope='col'] {
    background-color: darkslateblue;
    color: #000000;
}

th[scope='row'] {
    background-color: #bfc2f0;
    cursor: pointer;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  
  color: #fff;
  
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;cursor: pointer;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.buttons-container button {
    padding: 10px 20px;
    font-size: 1.0em;
    margin-right: 15px;
    text-align: center;

}

.buttons-container{
    position: absolute;
    left: 30%;
    bottom: 4cm;
}